.container{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    width: 500px;
    height: 100px;
}

.texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-content: center;
}

.img{
    border: 1px solid black;
    border-radius: 4px;
}